In [1]:
a = lambda x,y : x+y
print(a(5,4))

9

In [5]:
a = lambda x : "Even" if x%2==0 else "Odd"
print(a(6), a(5))

Even Odd

In [9]:
a = lambda x,y=12,z=8: x+y+z
print(a(3,4,5))
print(a(6))
print(a(y=10,x=20,z=30))
# print(a(y=20,z=30,10))
# print(a(y=20,10,z=30))
print(a(10,y=20,z=30))

12
26
60
60

In [10]:
l=[2,4,6,7,9,8]
d=list(map(lambda x:x*2,l))
print(d)

[4, 8, 12, 14, 18, 16]

In [13]:
l=[6,5,4,3,2,1]
x={1:2,2:10,3:20}
d=list(map(lambda x:x*2,x))
print(d)

[2, 4, 6]

In [18]:
l=[1,2,3,4,5]
y=[]
d=list(map(lambda x:y.append('odd') if x%2==0 else y.append('even'),l))
print(d)
print(y)

[None, None, None, None, None]
['even', 'odd', 'even', 'odd', 'even']

In [19]:
l=[10,16,34,56,40,98,5]
d=list(filter(lambda x:x%4==0,l))
print(d)

[16, 56, 40]

In [21]:
l=[10,16,34,56,40,98,5]
d=list(filter(lambda x:x%4==0,list(map(lambda x:x*3,l))))
print(d)

[48, 168, 120]

In [22]:
l=["apple","banana","orange"]
d=list(filter(lambda x:x.startswith('a'),l))
print(d)

['apple']

In [25]:
from functools import reduce
l=[1,2,3,4,5,6]
d=reduce(lambda x,y:x*y,l)
print(d)

720

In [26]:
l=["advb","ds","fetetg","ercsaw","a"]
print(sorted(l,key=len))

['a', 'ds', 'advb', 'fetetg', 'ercsaw']

In [31]:
d={1:2,2:6,3:2,4:4,5:1}
print(sorted(d.items()))
print(sorted(d.items(), key=lambda x:x[1]))

[(1, 2), (2, 6), (3, 2), (4, 4), (5, 1)]
[(5, 1), (1, 2), (3, 2), (4, 4), (2, 6)]

In [32]:
def fun(x):
    return x[1]
d={1:3,2:6,3:2,4:4,5:1}
print(sorted(d.items(), key=fun))

[(5, 1), (3, 2), (1, 3), (4, 4), (2, 6)]

In [1]:
# Write a program that converts Roman numerals into ordinary numbers. Roman
# numerals are represented by the following symbols and their respective values:
#  M = 1000
#  D = 500
#  C = 100
#  L = 50
#  X = 10
#  V = 5
#  I = 1
# Additionally, special cases like IV (4), XL (40) etc. should also be considered. The
# program should take a Roman numeral as input and output its equivalent ordinary
# number.

roman = {"I":1,"IV":4,"V":5,"IX":9,"X":10,"XL":40,"L":50,"XC":90,"C":100,"CD":400,"D":500,"CM":900,"M":1000,}
user = input("Enter a roman number : ")
num = 0
i = 0
while i<len(user):
    if user[i:i+2] in roman:
        num+=roman[user[i:i+2]]
        i+=2
    elif user[i:i+1] in roman:
        num+=roman[user[i:i+1]]
        i+=1
print(num)

Enter a roman number : MMMCMLXXXIX
3989

In [2]:
n=[1000,900,500,400,100,90,50,40,10,9,5,4,1]
roman=["M","CM","D","CD","C","XC","L","XL","X","IX","V","IV","I"]
user=int(input("Enter a roman number : "))
i=0
result=''

while user>0:
    for j in range(user//n[i]):
        result+=roman[i]
        user-=n[i]
    i+=1
print(result)

Enter a roman number : 3989
MMMCMLXXXIX

In [14]:
b = [
"Inferno,Dan Brown,Thriller,450,4.5",
"Atomic Habits,James Clear,SelfHelp,550,4.8",
"Ikigai,Hector Garcia,SelfHelp,300,4.2",
"Dune,Frank Herbert,ScienceFiction,600,4.6",
"1984,George Orwell,ScienceFiction,500,4.7",
"Sapiens,Yuval Noah Harari,History,650,4.9",
"The Hobbit,J.R.R. Tolkien,Fantasy,480,4.8",
"Becoming,Michelle Obama,Biography,700,4.7",
"The Alchemist,Paulo Coelho,Fiction,350,4.3",
"To Kill a Mockingbird,Harper Lee,Fiction,400,4.6"
]

import json

d={}
for i in b:
    n,a,g,p,r = i.split(",")
    d[n]={"author":a,"genre":g,"price":p,"rating":r}
print(d)
print()

# a. Display the average price of all books.
total=0
for i in d.values():
    total += int(i["price"])
print(total/len(d))    
print()

# b. Display the highest-rated book (title, author, rating).
rating=sorted(d.items(),key=lambda x:x[1]["rating"],reverse=True)
print(rating[0][0])
print(rating[0][1]["author"])
print(rating[0][1]["rating"])
print()

# c. Group books by genre and show the count of books in each genre.
genre={}
for i in d.values():
    if i["genre"] not in genre:
        genre[i["genre"]] = 1
    else:
        genre[i["genre"]] +=1
print(genre)        
print()

# d. Display all ScienceFiction books sorted by rating (descending).
scifi={}
for i in d:
    if d[i]["genre"]=="ScienceFiction":
        scifi[i]=d[i]["rating"]
print(sorted(scifi.items(),key=lambda x:x[1],reverse=True))        
print()

# e. Display the most expensive book in each genre.
me={}
for i in d:
    g=d[i]["genre"]
    p=d[i]["price"]
    if g not in me or d[i]["price"] > me[g]["price"]:
        me[g]={"book":i,"price":p}
print(me)

{'Inferno': {'author': 'Dan Brown', 'genre': 'Thriller', 'price': '450', 'rating': '4.5'}, 'Atomic Habits': {'author': 'James Clear', 'genre': 'SelfHelp', 'price': '550', 'rating': '4.8'}, 'Ikigai': {'author': 'Hector Garcia', 'genre': 'SelfHelp', 'price': '300', 'rating': '4.2'}, 'Dune': {'author': 'Frank Herbert', 'genre': 'ScienceFiction', 'price': '600', 'rating': '4.6'}, '1984': {'author': 'George Orwell', 'genre': 'ScienceFiction', 'price': '500', 'rating': '4.7'}, 'Sapiens': {'author': 'Yuval Noah Harari', 'genre': 'History', 'price': '650', 'rating': '4.9'}, 'The Hobbit': {'author': 'J.R.R. Tolkien', 'genre': 'Fantasy', 'price': '480', 'rating': '4.8'}, 'Becoming': {'author': 'Michelle Obama', 'genre': 'Biography', 'price': '700', 'rating': '4.7'}, 'The Alchemist': {'author': 'Paulo Coelho', 'genre': 'Fiction', 'price': '350', 'rating': '4.3'}, 'To Kill a Mockingbird': {'author': 'Harper Lee', 'genre': 'Fiction', 'price': '400', 'rating': '4.6'}}

498.0

Sapiens
Yuval Noah Harari
4.9

{'Thriller': 1, 'SelfHelp': 2, 'ScienceFiction': 2, 'History': 1, 'Fantasy': 1, 'Biography': 1, 'Fiction': 2}

[('1984', '4.7'), ('Dune', '4.6')]

{'Thriller': {'book': 'Inferno', 'price': '450'}, 'SelfHelp': {'book': 'Atomic Habits', 'price': '550'}, 'ScienceFiction': {'book': 'Dune', 'price': '600'}, 'History': {'book': 'Sapiens', 'price': '650'}, 'Fantasy': {'book': 'The Hobbit', 'price': '480'}, 'Biography': {'book': 'Becoming', 'price': '700'}, 'Fiction': {'book': 'To Kill a Mockingbird', 'price': '400'}}

In [15]:
s="a13 d34g d4t d6gh a3f"
d=sorted(s.split(),key=lambda x:int(x[1]))
print(d[0][0:2])

a1